.vscode/
.idea/
*.pyc
.env
__pycache__
.env
_old
uploads
.ipynb_checkpoints
*.db
_test
Pipfile
!/data
/data/*
/open_webui/data/*
.webui_secret_key
*.gguf
*.bin
__pychache__/
.venv/
venv/
*.zim
qdrant_storage/
GEMMA-use-policy.txt

